@model HomeInfoViewModel
@{
    ViewBag.Title = "瑞慈首页";
}
@section scripts{
    <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-3">
                <img src="~/Styles/images/logpic.png" title="" />
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-9">
                        <input id="nights" type="text" class="form-control" value="">
                    </div>
                    <div class="col-sm-3" style="text-align: center; margin: 0px auto 10px auto;">
                        <input id="Search" type="button" class="btn red" style="width: 140px" value="搜 索" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <img src="~/Styles/images/logpic.png" title="" />
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-custom">
                        <a href="#0" class="prev inactive btn default md-skip col-md-1" style="height:66px">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <div class="col-md-10 btn default">
                            <ul class="nav nav-tabs col-md-12">
                                @foreach (var dateitem in Model.DateTimeListsGroup)
                                {
                                    var selectitems = "";
                                    if (dateitem.Value.Contains("周一"))
                                    {
                                        selectitems = "active";
                                    }

                                    <li class="@selectitems col-md-2">
                                        <a href="#tab_1" id="@dateitem.Key" data-toggle="tab">@dateitem.Value</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <a href="#0" class="next inactive btn default md-skip col-md-1" style="height:66px">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <div class="tab-content">
                            @foreach (var dateitem in Model.DateTimeListsGroup)
                            {
                                var selectitem = "";
                                if (dateitem.Value.Contains("周一"))
                                {
                                    selectitem = "active";
                                }
                                <div class="tab-pane @selectitem" id="@dateitem.Key">
                                    <div class="row">
                                        <div class="col-md-12">
                                                @{ Html.RenderAction("DoctorSynopsisView", new { selectdatetime = "" }); }
                                        </div>
                                    </div>
                                </div>
                                                    }

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>