@model HomeInfoViewModel
@{
    ViewBag.Title = "瑞慈首页";
}
@section scripts{
    <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-custom">
                        <a href="#0" class="prev inactive btn default md-skip col-md-1" style="height:65px">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <div class="col-md-10 btn default">
                            <ul class="nav nav-tabs col-md-12">
                                @foreach (var dateitem in Model.DateTimeListsGroup)
                                    {
                                        var selectitems = "";
                                        if (dateitem.Value.Contains("周一"))
                                        {
                                            selectitems = "active";
                                        }

                                    <li class="@selectitems col-md-2">
                                        <a href="#tab_1" id="@dateitem.Key" data-toggle="tab">@dateitem.Value</a>
                                    </li>
                                    }
                            </ul>
                        </div>
                        <a href="#0" class="next inactive btn default md-skip col-md-1" style="height:66px">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <div class="tab-content">
                            @foreach (var dateitem in Model.DateTimeListsGroup)
                                {
                                    var selectitem = "";
                                    if (dateitem.Value.Contains("周一"))
                                    {
                                        selectitem = "active";
                                    }
                                <div class="tab-pane @selectitem" id="@dateitem.Key">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @{Html.RenderAction("DoctorSynopsisView", new { selectdatetime = "" }); }
                                        </div>
                                    </div>
                                </div>
                                                    }

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">

        </div>
        <div class="tabbable-custom col-md-8">

            <ul class="nav nav-tabs">
                <li class="">
                    <a href="#">合作品牌</a>
                </li>
                <li class="active">
                    <a href="#tab_1" id="aTab_1" data-toggle="tab">合作机构</a>
                </li>
                <li>
                    <a href="#tab_2" class="litab_2" data-toggle="tab">商业保险</a>
                </li>
                <li>
                    <a href="#tab_3" class="litab_3" data-toggle="tab">商业保险</a>
                </li>
            </ul>
            <div class="tab-content" style="height:300px">
                <div class="tab-pane" id="tab_1">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/fudandaxuezhongshanhosptal.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/fudandaxuechildhospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaichanzhenghospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaijiaotongruijinhospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/guahaonet.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaihaiguan.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/expo.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/icbc.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinaconstructionbank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinaofbank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinalife.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/citibank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaimetro.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/huadongzhengfa.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/bailiangroup.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/pizzahut.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/guangmingmilk.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/loreal.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/intel.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/huawei.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/ikea.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tab_2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/fudandaxuezhongshanhosptal.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/fudandaxuechildhospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaichanzhenghospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaijiaotongruijinhospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/guahaonet.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaihaiguan.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/expo.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/icbc.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinaconstructionbank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinaofbank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinalife.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/citibank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaimetro.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/huadongzhengfa.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/bailiangroup.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/pizzahut.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/guangmingmilk.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/loreal.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/intel.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/huawei.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/ikea.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/fudandaxuezhongshanhosptal.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/fudandaxuechildhospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaichanzhenghospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaijiaotongruijinhospital.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/guahaonet.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaihaiguan.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/expo.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/icbc.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinaconstructionbank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinaofbank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/chinalife.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/citibank.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/shanghaimetro.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/huadongzhengfa.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/bailiangroup.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/pizzahut.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/guangmingmilk.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/loreal.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/intel.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/huawei.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                    <img src="~/Styles/images/ikea.png" class="col-md-12" title="" style="vertical-align: middle;text-align: center;" />
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>