<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>Ruici - @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="~/Assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/animate/animate.css" rel="stylesheet" />

    <link href="~/Assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />

    <link href="~/Assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
    <link href="~/Assets/global/plugins/bootstrap-toastr/toastr.css" rel="stylesheet" />

    <script src="~/Assets/global/plugins/jquery.min.js" type="text/javascript"></script>

    <script src="~/Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>

    <script src="~/Assets/global/scripts/app.js" type="text/javascript"></script>
    <script src="~/Assets/global/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Assets/global/scripts/jquery.validate.min.js"></script>
    <script src="~/Assets/global/scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Assets/layouts/layout/scripts/demo.js" type="text/javascript"></script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo frame">
    <div class="navbar-inverse navbar-fixed-top" style="height:30px; padding-top:5px">
        @Html.Partial("_LoginPartial")
    </div>
    <div class="page-container" >
        <div class="page-content" >
            <div class="row" style="margin-top:20px;margin-bottom:20px">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="~/Styles/images/richlogo.png" class="col-md-12" title="" style="width:330px;height:63px;" />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-9" style="width:380px;margin-left:120px">
                                        <input id="nights" type="text" class="form-control" value="" style="width:300px;float:left;margin:0px">
                                        <input id="Search" type="button" class="btn col-md-12" style="background-color:#99ce7d;width:70px;float:left" value="搜 索" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-12" style="font-size:10px;-webkit-transform:scale(0.8);margin-left:35px" >湿疹 乌镇互联网医院 月经不调 鼻炎 甲亢 儿科 广东省中医院 反酸烧心</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row" style="float:right">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-12" style="color:#99ce7d">免费热线 400-110-8102</label>
                                    </div>
                                </div>
                                <div class="row" style="float:right">
                                    <label class="control-label col-sm-12" style="font-size:10px;-webkit-transform:scale(0.8)">周一至周日 8：00-17：00</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        </di
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    
    <div class="row" style="background-color: #f5f5f5;padding:0;margin:0;">
        <div style="padding-left:210px;padding-bottom:100px">
            <div style="float:left">
                <img src="~/Styles/images/richfooterlogo.png" title="" style="padding-top:25px;width:157px;height:68px;" />
            </div>
            <div style="padding:25px 0px 0px 0px;font-size:10px;-webkit-transform:scale(0.8);text-align:left;float:left">
                地点：上海市静安区江宁路212号3F</br>
                全国服务热线：4001-108-102</br>
                总机电话：021-62585075
            </div>
            <div style="padding:25px 0px 0px 0px;margin-right:135px;font-size:10px;-webkit-transform:scale(0.8);text-align:right;float:left">
                <a target="_blank" href="#" style="color:#797979;margin-right:5px">关于我们</a>|<a target="_blank" href="#" style="color:#797979;margin-right:5px;margin-left:5px">隐私政策</a>|<a target="_blank" href="#" style="color:#797979;;margin-left:5px">版权说明</a></br>
                沪ICP备15049800号-1 瑞慈健康体检全国连锁机构版权所有 COPYRIGHT &copy;2015 TG.COM.CN ALL RIGHTS RESERVED
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>