@{
    ViewBag.Title = "404 找不到页面";
}
<div class="row">
    <div class="col-xs-12">
        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="icon-random"></i>
                        404
                    </span>
                    这个页面打不开...
                </h1>

                <hr>
                <h3 class="lighter smaller">
                    我们没有找到这个页面
                </h3>

                <div class="space"></div>

                <div>
                    <h4 class="lighter smaller">请尝试</h4>
                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <i class="icon-hand-right blue"></i>
                            检查浏览器地址
                        </li>
                        <li>
                            <i class="icon-hand-right blue"></i>
                            阅读帮助手册
                        </li>
                        <li>
                            <i class="icon-hand-right blue"></i>
                            联系管理员
                        </li>
                    </ul>
                </div>

                <hr>
                <div class="space"></div>

                <div class="center">
                    <a href="#" class="btn btn-grey" onclick="javascript:history.go(-1);">
                        <i class="icon-arrow-left"></i>
                        后退
                    </a>

                    <a href="/" class="btn btn-primary">
                        <i class="icon-dashboard"></i>
                        首页
                    </a>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div>